@media screen and (max-width: 991.9px) {
    .container {
        padding: 0 20px;
    }
    
    
    .custom-navbar {
        padding: 13px 0 ;
    
        .navbar-brand {
            img {
                max-width: 126px;
            }
    
        }
    
        .navbar-collapse {
            margin: 0 -20px;
            text-align: center;
            background: $bg-section;
            transform: translate(0, 14px);
            box-shadow: 14px 22px 40px #1e234266;
            .btn {
                margin-bottom: 60px;
                font-size: 16px;
                padding: 21px 40px;
                width: 100%;
                max-width: 295px;
            }
          
        }
    
        .navbar-nav {
            padding: 33px 0 25px;
            
        }
        
        .nav-item {
            .nav-link {
                padding: 0;
                font-size: 24px;
                line-height: 222%;
                margin: 0 0 10px 0;
                
            }
    
         }
    
      }

    .banner {
        padding-bottom: 0;
        .swiper-slide {
            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                background: #04091199;
                z-index: -1;
            }
        }

        .bg-section {
            padding: 0 100px 0;
          
            &::before {
                width: 100%;
                border-radius: 20px;
        
            }
           } 

        .container {
            align-items: center;
            text-align: center;
            padding: 0 12px 54px;
            min-height: 649px;
        }

        &-title {
            font-size: 32px;
            margin-bottom: 10px;
            max-width: 295px;
            
        }

        &-description {
            font-size: 16px;
            margin-bottom: 18px;
            max-width: 260px;
        }
    

    }

    .bg-section {
        padding: 59px 0 27px;
        &::before {
            width: 100%;
            border-radius: 20px;
    
        }
       } 

    .template-title { 
       h2 {
            font-size: 24px;
                   
        }

        h4 {
            font-size: 16px;
        }
       &::before {
            bottom: 30px;

    }

  }

    .calculation {
        padding: 54px 0 56px;
    }
      
    .calculation-row {
        display: flex;
        align-items: flex-start;
        padding-top: 21px;
    }

    
    .calculation-img {
        display: none;
    }

    .calculation-form {
        margin: 0 auto;
        padding: 50px 30px 34px;
        .btn {
            width: 100%;
            padding: 23px 17px 17px 31px;
            display: flex;
            justify-content: space-between;
            img {
               margin: initial;
            }
         }

    }

    .form-row {
        flex-direction: column;
        gap: 0;
    }

    .control-box {
        &:first-child {
            margin-top: 18px;
        }
        
        &:last-child {
            margin-bottom: 18px;
        }

    }

    input {
        &[type="file"] {
            + label {
                margin-top: 12px;
            }
        }
        
     }

   

     .bg-section {
        &::before{
            border-radius: unset;
        }
         
    }
    
    
    .advantages {
        .container {
            padding: 0 10px;
        }
        .swiper {
            padding-bottom: 24px;
            
        }
    }
    
    .advantage-title  {
        max-width: 264px;
        margin-top: 14px;
    }
    
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, 
    .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 34px;
  
 
}

  .delivery, 
   .services {
    position: relative;
    padding: 50px 0 26px;

    .template-title {
    margin-bottom: 24px;
  }

  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, 
    .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 11px;
  
 
}

.slider-template {
    top: -27px;
}
   
}

  .delivery {
    padding: 50px 0 27px;
    &-title {
        margin-bottom: 2px;
        display: flex;
        align-items: center;
        .container {
            margin: 0 auto;
            padding: 0px 12px;
        }
        
    }
   
  }

  .card {
    .img-box {
        margin-bottom: 29px;
    }

  }

  .services {
    .card {
        .card-description {
           margin-bottom: 2px;
        }
    }
  }

  .about {
    padding: 55px 0 50px;
    .container {
        .template-title {
            padding-bottom: 49px;
        }

        .description-row {
            display: flex;
            flex-direction: column;
            align-items: center;

            .description-title {
                font-size: 16px;
                line-height: 150%;
                text-align: justify;
                margin-bottom: 25px;
                
            }
            
        .img-about {
            height: 327px; 
            width: 319px;
            margin-top: -14px;
            
           }

        }
    
     }

}
}



   





