@media screen and (max-width: 991.9px) {
    .container {
        padding: 0 20px;
    }
    
    
    .custom-navbar {
        padding: 13px 0 ;
    
        .navbar-brand {
            img {
                max-width: 126px;
            }
    
        }
    
        .navbar-collapse {
            margin: 0 -20px;
            text-align: center;
            background: $bg-section;
            transform: translate(0, 14px);
            box-shadow: 14px 22px 40px #1e234266;
            .btn {
                margin-bottom: 60px;
                font-size: 16px;
                padding: 21px 40px;
                width: 100%;
                max-width: 295px;
            }
          
        }
    
        .navbar-nav {
            padding: 33px 0 25px;
            
        }
        
        .nav-item {
            .nav-link {
                padding: 0;
                font-size: 24px;
                line-height: 222%;
                margin: 0 0 10px 0;
                
            }
    
         }
    
      }

    .banner {
        padding-bottom: 0;
        .swiper-slide {
            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                background: #04091199;
                z-index: -1;
            }
        }

        .container {
            align-items: center;
            text-align: center;
            padding: 0 12px 54px;
            min-height: 649px;
        }

        &-title {
            font-size: 32px;
            margin-bottom: 10px;
            max-width: 295px;
            
        }

        &-description {
            font-size: 16px;
            margin-bottom: 18px;
            max-width: 260px;
        }
    

    }

    .bg-section {
        padding: 0 99px 0;
      
        &::before {
            width: 100%;
            border-radius: 20px;
    
        }
       } 

    .template-title { 
       h2 {
            font-size: 24px;
            
    }
        h4 {
            font-size: 16px;
        }
        :before {
            bottom: 30px;

    }

}

    .calculation {
        padding: 54px 0 56px;
    }
      
    .calculation-row {
        display: flex;
        align-items: flex-start;
        padding-top: 21px;
    }

    
    .calculation-img {
        display: none;
    }

    .calculation-form {
        margin: 0 auto;
        padding: 50px 30px 34px;
        .btn {
            width: 100%;
            padding: 23px 17px 17px 31px;
            display: flex;
            justify-content: space-between;
            img {
               margin: initial;
            }
         }

    }

    .form-row {
        flex-direction: column;
        gap: 0;
    }

    .control-box {
        &:first-child {
            margin-top: 18px;
        }
        
        &:last-child {
            margin-bottom: 18px;
        }

    }

    input {
        &[type="file"] {
            + label {
                margin-top: 12px;
            }
        }
        
     }

   

     .bg-section {
        padding: 59px 29px 51px;
        &::before{
            border-radius: unset;
        }
        .template-title {
            &.case-4 {
                margin-left: 17px;
            }
        }

         
    }
    
    .advantages {
        .swiper {
        padding-top: 16px;
        padding-bottom: 16px;
        }
    }
    
    .advantage-title  {
        max-width: 212px;
        margin-top: -3px;
        margin-left: 71px;
    
    }
    
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, 
    .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 7px;
  
 
  }

  .delivery {
    .template-title {
        margin-bottom: 2px;
        display: flex;
        align-items: center;
        max-width: 368px;
        margin-bottom: 0;
        margin-top: -39px;
        margin-left: 8px;
    }
   
  }

  .card {
    .img-box {
        margin-bottom: 29px;
    }

  }
}



  