@media screen and (max-width: 991.99px) {
    .container {
        padding: 0 20px;
    }
    
    
    .custom-navbar {
        padding: 13px 0 ;
    
        .navbar-brand {
            img {
                max-width: 126px;
            }
    
        }
    
        .navbar-collapse {
            margin: 0 -20px;
            text-align: center;
            background: $bg-section;
            transform: translate(0, 14px);
            box-shadow: 14px 22px 40px #1e234266;
            .btn {
                margin-bottom: 60px;
                font-size: 16px;
                padding: 21px 40px;
                width: 100%;
                max-width: 295px;
            }
          
        }
    
        .navbar-nav {
            padding: 33px 0 25px;
            
        }
        
        .nav-item {
            .nav-link {
                padding: 0;
                font-size: 24px;
                line-height: 222%;
                margin: 0 0 10px 0;
                
            }
    
         }
    
      }

    .banner {
        .swiper-slide {
            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                background: #04091199;
                z-index: -1;
            }
        }

        .container {
            align-items: center;
            text-align: center;
            padding: 0 12px 54px;
            min-height: 649px;
        }

        &-title {
            
            font-size: 32px;
            margin-bottom: 10px;
            max-width: 295px;
            
        }

        &-description {
            font-size: 16px;
            margin-bottom: 18px;
            max-width: 260px;
        }
    

    }
    

     
    
}
