  
.delivery, 
.services {
    position: relative;
    padding: 83px 0 100px;
    .template-title {
    margin-bottom: 24px;
  }

}

 .delivery {
    .template-title {
        &::before {
            background: $secondary-color;
        }
    }

    .slider-template {
        top: -12px;
    }
 }

[class*="swiper-button-prev-unique"],
[class*="swiper-button-next-unique"]  {
    color: $color;
    width: 46px;

    &:hover {
        color: $secondary-color ;
    }

    &.swiper-button-next {
        right: 0;
    }

    &.swiper-button-prev {
        left: 0;
    }

}
  
.swiper-navigation {
    position: absolute;
    bottom: 310px;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 1323px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 44px;
    z-index: 1;
}

.card {
    border: none;
    color: #fff;
    padding: 0 20px 27px;
    border-radius: 20px;
    overflow: hidden;
    background-color: $bg-section;
    min-height: 482px;
    max-width: 360px;
    position: relative;
    
      .img-box {
        margin: 0 -20px 26px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            height: 229px;
            object-fit: contain;

          
             
        }
      }
      
    &-title {
        font-size: 22px;
        font-weight: 600;
        text-align: center;
      }

    &-option {
        display: flex;
        padding: 0;
        margin: 0 0 25px 0;
        gap: 28px;
        justify-content: center;

    }
    
    .btn-row {
        display: flex;
        gap: 14px;

        .btn {
            width: 50%;
            padding: 13px 15px;
        }
    }
}

    
.option-item {
        list-style: none;
    
    img {
        margin-right: 15px;
     }
}

.card-price {
    font-size: 22px;
    line-height: 125%;
    text-align: center;
    color: #a3a3a3;
    margin-bottom: 27px;

    b {
        font-weight: 700;
        font-size: 45px;
        color: #fff;
    }

        span {
            &:last-child {
                color: #fff;

            }
        }
    
}

.slider-template {
    .swiper-pagination {
        bottom: 10px;
        
    }
}

.services {
    .template-title {
        &::before {
            background: $primary-color;
        }
    }
    
   .card {
    justify-content: flex-end;
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: linear-gradient(0deg, #040511e8 0%, #58585800 100%);
        z-index: 1;
    }
   
    .img-box {
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0 0 0 20px;
        z-index: 0;     
        img {
            height: initial;
        }
    }

        .card-title {
        text-align: left;

        }
        .card-description {
            margin-bottom: 14px;
        }
        .btn-row {
            margin-top: initial;
        }

        .card-title,
        .card-description,
        .btn-row {
            z-index: 1;
        }
   }

}




   
     
  

    
    





    
        

    


    








    


   





