
body {
    font-family: $font-primary;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $bg-body;
    color: $color;
    font-size: $fs;

}

a {
    color: $primary-color ;
    text-decoration: none;

    &:hover {
    text-decoration: underline;
   }

}



ul {
    li {
        position: relative;

        &:not([class]) {
            &::before {
                content: "";
              position: absolute;
              width: 12px;
              height: 12px;
              background-color: $primary-color;
              border-radius: 3px;
              left: -18px;
              top: 7px;
             transform: rotate(45deg);
        }

    }
        
   }
          
}

.container {
    max-width: 1164px;
}

.dropdown-menu {
    > li {
        &::before {
            display: none;
        }
      

    }

}

.btn {
    font-family: $font-primary;
    font-size: 16px;
    line-height: 146%;
    border-radius: 90px;
    font-weight: 600;
    padding: 23px 27px;
    border: 1px solid $primary-color;

        &.btn-primary {
        font-size: 15px;
        background-color: $primary-color;
        padding: 13px 26px;
            &:hover {
            background-color: transparent;
            
        }
        
        &.btn-form {
            padding:  18px 31px;
        }
    }

         &:hover {
        text-decoration: none;
        border: 1px solid $primary-color;
    }

   

    &.btn-secondary {
        background-color: transparent;
      
    
        &:hover {
            background-color: $secondary-color;
          
        }
    }

    &.btn.btn-primary,
    &.btn.btn-secondary {
        &:active {
            background-color: $secondary-color;
            border: 1px solid $secondary-color;

        }
    
    }

    &.btn-lg {
        padding: 18px 28px;
        font-size: 16px;
    }

    img {
        margin-left: 46px;
        height: 27px;
        width: 27px;

    }
}
    


.container-xxl {
    max-width: 1820px;
    width: 100%;
    
   
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    border: 2px solid #fff;
    opacity: 1;
    background-color: transparent;

    &.swiper-pagination-bullet-active {
        background-color: #fff;
       
    }
   
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, 
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 13px;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    line-height: 0;
}




.template-title {
    text-align: center;
    position: relative;
    padding-bottom: 53px;

    &:before {
        content: "";
        position: absolute;
        bottom: 33px;
        left: 50%;
        transform: translate(-50%, 0);
        height: 2px;
        width: 85px;
        background: $secondary-color;
        

    }

    h2 {
        font-size: 36px;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 125%;
        margin-bottom: 6px;
    }

    h4 {
       
        font-weight: 400;
    }
}

    
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

[type="number"] {
    -moz-appearance: textfield;
}

input[type="checkbox"],
    [type="file"] {
    display: none;
}

input {
   &[type="checkbox"] {
     +label {
    font-family: $font-primary;
    font-weight: 600;
    padding-left: 33px;
    line-height: 126%;
    cursor: pointer;

    &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border: 1px solid $bg-body;
    background-color: #fff;

    }
  }
}
    
    &:hover {
        &::before {
            border-color: $secondary-color;

        }
    }

    &:active,
    &:focus {
        &::before {
            border-color: $primary-color;

        }

    }

       &:checked {
          +label {
            &:before {
            background: url('assets/img/check.svg') center no-repeat #fff;
            }
        }
   } 
}
        
   
        
input {
    &[type="file"] {
        +label {
       font-family: $font-primary;
       font-weight: 600;
       cursor: pointer;
       text-align: center;
       padding: 12px;
       margin-top: 25px;
       margin-bottom: 12px;
       border-radius: 10px;
       background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23ffffff42' stroke-width='1' stroke-dasharray='3%2c 3' stroke-dashoffset='14' stroke-linecap='square'/%3e%3c/svg%3e");
       background-position: center;
       background-size: calc(100% - 1px);
       
        &:hover {
           background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%2389C249' stroke-width='1' stroke-dasharray='3%2c 3' stroke-dashoffset='14' stroke-linecap='square'/%3e%3c/svg%3e");
       }
         &:active {
           color: $secondary-color;
       }
     }
     
   } 
}

.bg-section {
    padding: 88px 100px 88px;
    position: relative;

    &::before {
        content: "";
        display: flex;
        width: calc(100% - 100px);
        max-width: 1820px;
        background-color: $bg-section;
        position: absolute;
        height: 100%;
        left: 50%;
        top: 0;
        z-index: -1;
        transform: translate(-50%, 0);
        border-radius: 20px;

    }
   } 







    


   