<section class="about">
    <div class="container">
        <div class="template-title case-2">
            <h2>О компании</h2>
        </div>
        <div class="description-row">
            <div class="description">
                <h6 class="description-title"><span>Компания Азия Карго - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украину. Для вашего удобства есть тарифы на лёгкий и тяжелый куб. Мы работаем на рынке более 4 лет, а руководители компании занимаются логистикой уже более 11 лет.</span></h6>
                   <h6 class="description-title"><span>Мы стремимся предоставить лучшие условия доставки и лучший сервис своим клиентам. Выбирая нас - вы выбираете качественную доставку оптимальную по цене и времени! Убедитесь в этом сами!</span></h6>
                </div>
                <picture>
                    <source srcset="assets/img/img-about-mob.png" media="(max-width: 767.99px)" />
                    <img src="assets/img/img-about.png"  class="img-about"  alt="img-about"/>
                  </picture>
        </div>
    </div>
</section>