<section class="advantages bg-section">
    <div class="container">
        <h2 class="template-title">Почему стоит выбрать именно нас?</h2>
        <div class="row">
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="advantage-img">
                        <img src="assets/img/advantage-1.png" alt="">
                    </div>
                    <h6 class="advantage-title">Таможенное оформление груза</h6>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="advantage-img">
                        <img src="assets/img/advantage-2.png" alt="">
                    </div>
                    <h6 class="advantage-title">Страховка груза</h6>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="advantage-img">
                        <img src="assets/img/advantage-3.png" alt="">
                    </div>
                    <h6 class="advantage-title">Проверка товара на брак</h6>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="advantage-img">
                        <img src="assets/img/advantage-4.png" alt="">
                    </div>
                    <h6 class="advantage-title">Доставка в любой город Украины</h6>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="advantage-img">
                        <img src="assets/img/advantage-5.png" alt="">
                    </div>
                    <h6 class="advantage-title">Консолидация на складе</h6>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="advantage-img">
                        <img src="assets/img/advantage-6.png" alt="">
                    </div>
                    <h6 class="advantage-title">Ответственное хранение груза</h6>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="advantage-img">
                        <img src="assets/img/advantage-7.png" alt="">
                    </div>
                    <h6 class="advantage-title">Помощь в оплате товара</h6>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="advantage-img">
                        <img src="assets/img/advantage-8.png" alt="">
                    </div>
                    <h6 class="advantage-title">Упаковка, переупаковка, паллетирование груза к международной перевозке</h6>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container"> 
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis delectus maiores impedit esse sunt modi sit harum odio quod vel?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis delectus maiores impedit esse sunt modi sit harum odio quod vel?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis delectus maiores impedit esse sunt modi sit harum odio quod vel?</p>

</div>