<section class="banner">
    <div class="swiper container-xxl">
    <div class="swiper-wrapper">
      <div class="swiper-slide" style="background-image: url('assets/img/banner-1.png');">
        <div class="container">
          <div class="banner-title">Прямое КАРГО из Китая</div>
          <div class="banner-description">Доставляем любые грузы из Китая по честной цене</div>
          <button class="btn btn-primary btn-lg">Расчитать стоимость<img src="assets/img/Vector-7.svg" alt="arrow-left"></button>
        </div>
      </div>
      <div class="swiper-slide" style="background-image: url('assets/img/banner-2.png');">
        <div class="container">
          <div class="banner-title">Выкуп товара с ТаоБао, 1688</div>
          <div class="banner-description">Выкуп и доставка товаров с китайских торговых площадок. </div>
          <button class="btn btn-primary btn-lg">Расчитать стоимость<img src="assets/img/Vector-7.svg" alt="arrow-left"></button>
        </div>
      </div>
      <div class="swiper-slide" style="background-image: url('assets/img/banner-3.png');">
        <div class="container">
          <div class="banner-title">Экспресс авто доставка</div>
          <button class="btn btn-primary btn-lg">Расчитать стоимость<img src="assets/img/Vector-7.svg" alt="arrow-left"></button>
        </div>
      </div>
      <div class="swiper-slide" style="background-image: url('assets/img/banner-4.png');">
        <div class="container">
          <div class="banner-title">Выкуп товара с ТаоБао, 1688</div>
          <div class="banner-description">Выкуп и доставка товаров с китайских торговых площадок.</div>
          <button class="btn btn-primary btn-lg">Расчитать стоимость<img src="assets/img/Vector-7.svg" alt="arrow-left"></button>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</section>