<section  class="calculation">
    <div class="container">
        <div class="template-title case-3">
            <h2>Получить рассчет стоимости доставки вашего груза</h2>
        </div>
        <div class="calculation-row">
            <form class="calculation-form">
                <div class="form-row">
                    <div class="form-column">
                        <div class="input-box">
                            <label for="category-cargo">Категория товара</label>
                            <input  id="category-cargo" type="number" placeholder="Категория товара">
                        </div>
                        <div class="input-box">
                            <label for="weight-cargo">Вес груза (кг):</label>
                            <input id="weight-cargo"  type="number" placeholder="Введите вес">
                        </div>
                    </div>
                    <div class="form-column">
                        <div class="input-box">
                            <label for="cost-cargo">Стоимость груза:</label>
                            <input  id="cost-cargo" type="number" placeholder="Стоимость груза:">
                        </div>
                        <div class="input-box">
                            <label for="cargo-volume">Объем груза (м3):</label>
                            <input id="cargo-volume"  type="number" placeholder="Введите объем">
                        </div>
                    </div>
                </div> 
                    <div class="form-row">
                        <div class="form-column">
                            <div class="control-box">
                                <input id="insurance" type="checkbox">
                                   <label for="insurance">Страховка</label>
                                </div>
                                <div class="control-box">
                                    <input id="customs-clearance" type="checkbox">
                                    <label for="customs-clearance">Таможенное оформление</label>
                                </div>
                            </div>
                            <div class="form-column">
                              <div class="input-box">
                                <label for="invoicecode">Код ТН ВЭД:</label>
                                 <input id="invoice-code" type="number" placeholder="Введите код">
                            </div>
                        </div>
                    </div>  
                        <div class="form-row">
                            <div class="form-column">
                                <div class="input-box">
                                    <div class="file-name">фотография.jpeg</div>
                                    <input id="file" class="custom-file" type="file">
                                    <label for="file">Загрузить фото товара</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-column">
                                <button class="btn btn-form btn-primary btn-lg">Следующий шаг<img src="assets/img/Vector-7.svg" alt="arrow-left"></button> 
                            </div>
                        </div>
            </form>
                <img src="assets/img/calculation-img.png" class="calculation-img" alt="calculation-img"> 
        </div>             
     </div>     
</section>