<section class="delivery">
  <div class="container">
    <div class="template-title">
      <h2>Варианты доставки грузов из Китая</h2>
    </div>
      <div class="swiper slider-template">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="card">
                  <div class="img-box">
                    <picture>
                      <source srcset="assets/img/delivery-mob-1.png" media="(max-width: 767.99px)" />
                      <img src="assets/img/delivery-img-1.png" alt="delivery" />
                    </picture>
                  </div>
                  <h4 class="card-title">Авто - обычная</h4>
                  <ul class="card-option">
                    <li class="option-item"><img src="assets/img/calendar.png" alt="calendar">9-15 дней</li>
                    <li class="option-item"><img src="assets/img/box.png" alt="box">от 5 кг</li>
                  </ul>
                  <div class="card-price">
                    <span>от</span>
                    <b>2.5</b>
                    <span>$/кг</span>
                  </div>
                  <div class="btn-row">
                    <button class="btn btn-primary">Оставить заявку</button>
                    <button class="btn btn-secondary">Подробнее</button>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card">
                  <div class="img-box">
                    <picture>
                      <source srcset="assets/img/delivery-mob-2.png" media="(max-width: 767.99px)" />
                      <img src="assets/img/delivery-img-2.png" alt="delivery" />
                    </picture>
                  </div>
                  <h4 class="card-title">Авто - ускоренная</h4>
                  <ul class="card-option">
                    <li class="option-item"><img src="assets/img/calendar.png" alt="calendar">9-15 дней</li>
                    <li class="option-item"><img src="assets/img/box.png" alt="box">от 5 кг</li>
                  </ul>
                  <div class="card-price">
                    <span>от</span>
                    <b>2.5</b>
                    <span>$/кг</span>
                  </div>
                  <div class="btn-row">
                    <button class="btn btn-primary">Оставить заявку</button>
                    <button class="btn btn-secondary">Подробнее</button>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card">
                  <div class="img-box">
                    <picture>
                      <source srcset="assets/img/delivery-mob-3.png" media="(max-width: 767.99px)" />
                      <img src="assets/img/delivery-img-3.png" alt="delivery" />
                    </picture>
                  </div>
                  <h4 class="card-title">Авиа</h4>
                  <ul class="card-option">
                    <li class="option-item"><img src="assets/img/calendar.png" alt="calendar">9-15 дней</li>
                    <li class="option-item"><img src="assets/img/box.png" alt="box">от 5 кг</li>
                  </ul>
                  <div class="card-price">
                    <span>от</span>
                    <b>2.5</b>
                    <span>$/кг</span>
                  </div>
                  <div class="btn-row">
                    <button class="btn btn-primary">Оставить заявку</button>
                    <button class="btn btn-secondary">Подробнее</button>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card">
                  <div class="img-box">
                    <picture>
                      <source srcset="assets/img/delivery-mob-4.png" media="(max-width: 767.99px)" />
                      <img src="assets/img/delivery-img-4.png" alt="delivery" />
                    </picture>
                    </div>
                  <h4 class="card-title">Ж/д</h4>
                  <ul class="card-option">
                    <li class="option-item"><img src="assets/img/calendar.png" alt="calendar">9-15 дней</li>
                    <li class="option-item"><img src="assets/img/box.png" alt="box">от 5 кг</li>
                  </ul>
                  <div class="card-price">
                    <span>от</span>
                    <b>2.5</b>
                    <span>$/кг</span>
                    </div>
                    <div class="btn-row">
                      <button class="btn btn-primary">Оставить заявку</button>
                      <button class="btn btn-secondary">Подробнее</button>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card">
                  <div class="img-box">
                    <picture>
                      <source srcset="assets/img/delivery-mob-5.png" media="(max-width: 767.99px)" />
                      <img src="assets/img/delivery-img-5.png" alt="delivery" />
                    </picture>
                  </div>
                  <h4 class="card-title">Море</h4>
                  <ul class="card-option">
                    <li class="option-item"><img src="assets/img/calendar.png" alt="calendar">9-15 дней</li>
                    <li class="option-item"><img src="assets/img/box.png" alt="box">от 5 кг</li>
                  </ul>
                  <div class="card-price">
                    <span>от</span>
                    <b>2.5</b>
                    <span>$/кг</span>
                    </div>
                    <div class="btn-row">
                      <button class="btn btn-primary">Оставить заявку</button>
                      <button class="btn btn-secondary">Подробнее</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
         </div>
      <div class="swiper-navigation">
      <div class="swiper-button-prev-unique-0 swiper-button-prev"></div>
      <div class="swiper-button-next-unique-0 swiper-button-next"></div>
    </div>
  </div>
</section>