<section class="services bg-section">
  <div class="container">
    <div class="template-title">
      <h2>Услуги</h2>
    </div>
      <div class="swiper slider-template">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="card">
                  <div class="img-box">
                    <picture>
                      <img src="assets/img/services-1.png" alt="services" />
                    </picture> 
                  </div>
                  <h4 class="card-title">Выкуп товара</h4>
                 <h6 class="card-description">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина.</h6>
                  <div class="btn-row">
                    <button class="btn btn-secondary">Подробнее</button>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card">
                  <div class="img-box">
                    <picture>
                      <img src="assets/img/services-2.png" alt="services" />
                    </picture>
                  </div>
                  <h4 class="card-title">Страховка груза</h4>
                 <h6 class="card-description">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина.</h6>
                  <div class="btn-row">
                    <button class="btn btn-secondary">Подробнее</button>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card">
                  <div class="img-box">
                    <picture>
                    <img src="assets/img/services-3.png" alt="services" />
                    </picture>
                  </div>
                  <h4 class="card-title">Аренда склада</h4>
                  <h6 class="card-description">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина.</h6>
                  <div class="btn-row">
                    <button class="btn btn-secondary">Подробнее</button>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card">
                  <div class="img-box">
                    <picture>
                    <img src="assets/img/services-4.png" alt="services" />
                    </picture>
                  </div>
                  <h4 class="card-title">Перевод денежных средств</h4>
                  <h6 class="card-description">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина.</h6>
                    <div class="btn-row">
                      <button class="btn btn-secondary">Подробнее</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
      <div class="swiper-navigation">
      <div class="swiper-button-prev-unique-1 swiper-button-prev"></div>
      <div class="swiper-button-next-unique-1 swiper-button-next"></div>
     </div> 
  </div>
</section>